/*---op---*/
  @font-face {
    font-family: JNRfont;
    src: url(../../../font/JNRfont_n/JNRfont_n.ttf) format("truetype");
  }
  
  @font-face {
    font-family: TanukiMagic;
    src: url(../../../font/TanukiMagic_1_22/TanukiMagic.ttf) format("truetype");
  }
  
  * {
    text-decoration: none;/*a タグの下線を消す*/
    list-style: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  #drawer-navigation{ 
    display:none;
  }
  
  .JNRf {
    font-family: JNRfont;
  }
  
  .none {
    list-style: none;   /**/
  }
  /*----------*/
  
  body{
      background-color: #fffff0;/*--- 全体の背景---*/
      margin: 0;
    }
  
    .header {
      height: 135px;
      background-color: greenyellow;  /*--- ヘッダー背景色 ---*/
    }

    .header h1 {
      margin: 6px 0 0;
      width: 184px;
      height: 90px;
    }
  
  /*---header---*/
    .header-logo {
      font-family: JNRfont;
      font-weight: 100;
      font-size: 80px;
      float: left;
      margin: 20px 15px;
    }
  
    .header-setumei {
      margin-top: 0;
      height: 30px;
      font-size: 20px;
      text-align: right;
    }
  
    .hakomoji {
      background-color: black;
      color: greenyellow;  /*--- "箱"の文字の色 ---*/
      border-right: solid 4px green;
      border-bottom: solid 4px green;
      width: 184px;
      height: 90px;
    }
  
  /*---nav---*/
    .nav {
      border: solid 3px lime;
      background-color: rgb(255, 255, 166);
      display: flex;
      flex-flow: nowrap;
      justify-content: space-evenly;
      font-size: 0;/*--- 隙間をなくす ---*/
    }
  
    .nav * {
      padding: 8px 10px;
      color: black;
    }
  
    .header-nav * {
      font-size: 18px;
      text-decoration: none;
    }
  
    .header-nav *:hover {
      background-color: yellowgreen;
      text-decoration: none;/*---aタグの下線を消す---*/
    }
  
  /*---main---*/
    .main-contents, .side-contents, .right-contents {
      height: auto;  /*全体の横の長さ設定*//*autoでもいいかも？*/
    }
  
    .main{
      width: 80%;
      float: right;
    }
  /*ここから中身*/
    .main-contents {
      float: left;
      width: 75%;
      height: 1000px;/*meinの横の長さ：デフォルト1000px (auto)*/
    }
  
    .main-contents * {
      list-style: outside; /*ulの点を出す*/
    }
  
    .maintop {
      background-color: white;    /*--- .meintopの背景色を白*/
      border: solid 1px gainsboro;
    }
  
    .main-contents h1 {
      text-align: center;
    }
  
    .main-h3border {
      border-bottom: solid 2px black;/*--- main内のaタグの下線を黒色にする*/
    }

    .saisin-bloglink {
      height: auto;
      background-color: white;
      border: solid 1px gainsboro;
    }

    .kojin-blogtitle {
      color: black;
      border-bottom: solid 2px gainsboro;
    }
  /*ここまで中身*/
  
  /*---main-right-contents---*/
    .right-contents {
      /*background-color: tomato;   !*/
      float: right;
      width: 25%;
    }
  
    .right {
      height: auto;
      margin: 0px 8px 10px 8px;/*上0px*/
      border-left: solid 1px gray;
      border-bottom: solid 1px gray;
      /*background-color: lightblue;    !*/
    }
  
    .right h3 {
      margin: 0;
    }
  
  /*---main-side-contents---*/
    .side-contents {
      /*background-color: lime;   !*/
      width: 20%;
      float: right;
    }
  
    .side {
      height: 100px;
      margin: 0px 8px 10px 8px;
      border-right: solid 1px gray;
      border-bottom: solid 1px gray;
      /*background-color: lightgreen;   !*/
    }
  
    .side-navi h3 {
      margin: 0 0;
    }
  
  /*--- footer ---*/
  .footer{
    height: 200px;
    background: #006400;
    color: #fff;
    clear: both;
  }
  
  .footer * {
    text-align: center;
    list-style: none;
  }
  
  .footer-list {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .footer-list a {
    margin: 3px;
    text-decoration: underline;
    color: aqua;
  }